<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Spring Boot 기본 로그 설정 포함 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Logstash로 로그 전송 (포트 5000) -->
<!--    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>localhost:5000</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
<!--    </appender>-->

    <!-- 로그 레벨 및 출력 설정 -->
    <root level="INFO">
        <appender-ref ref="STASH"/>
    </root>

</configuration>
